<br /><br />
<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="terraform-logo-img"></div>
                <mat-card-title><a mat-button href="https://gitlab.com/frankmartinez/s3-static-website">S3 Static Website <fa-icon [icon]="faExternalLinkAlt"></fa-icon></a></mat-card-title>
            </mat-card-header>
            <mat-card-content class="card-font-size">
                A project that demonstrates how to deploy a static website to an S3 bucket backed by CloudFront in AWS.
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
