.main-container {
    font-family: Roboto, sans-serif !important;
}

.main-container h1 {
    font-weight: bolder;
}

.center {
    margin: auto;
    width: 85%;
    margin-top: 100px;
    border: 1px solid lightgray;
    padding: 20px;
}

.center-text {
    text-align: center;
}

.upper-text {
    text-transform: uppercase;
}

/* Navigation Settings */
.nav-styling a {
    font-weight: 900;
    font-family: sans-serif;
}

.nav-styling a:link a:visited {
    color: none;
    text-decoration: none;
  }

  .nav-styling a:hover {
    color: none;
    text-decoration: none;
  }

