
<div class="main-container center">

   <div class="display-5 center-text upper-text">
      <h1>Francisco Martinez</h1>
   </div>

   <!-- Navigation -->
   <div class="center-text upper-text nav-styling">
      <nav>
         --
         <a mat-button routerLink="/home" routerLinkActive="router-link-active">Home</a>
         --
         <a mat-button routerLink="/projects" routerLinkActive="router-link-active">Projects</a>
         --
         <a mat-button href="https://gitlab.com/frankmartinez">GitLab <fa-icon [icon]="faExternalLinkAlt"></fa-icon></a>
         --
         <a mat-button href="https://www.linkedin.com/in/frank-martinez-b68b4623/">LinkedIn <fa-icon [icon]="faExternalLinkAlt"></fa-icon></a>
         --
      </nav>
   </div>

   <!-- Page Routing - main content -->
   <div class="content-container">
      <router-outlet></router-outlet>
   </div>

</div> <!-- Main Container -->
