/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Default A link styling */

a {
    color: black;
    font-family: sans-serif;
}

a a:link a:visited {
    color: black;
    text-decoration: none;
  }

a:hover {
    color: black;
    text-decoration: none;
  }

.terraform-logo-img {
    background-image: url('assets/terraform_logo.png');
    background-size: cover;
}

.aws-logo-img {
  background-image: url('assets/aws_logo.png');
  background-size: cover;
}

.angular-logo-img {
  background-image: url('assets/angular_logo.png');
  background-size: cover;
}

.router-link-active {
  text-decoration: underline;
  background-color: lightgray;

}