<mat-card class="summary-card center-cards">
    <mat-card-header class="card-padding">
        <div mat-card-avatar class="me-avatar-header-img"></div>
        <mat-card-title>Hello!!!</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-font-size">
        <p>Experienced Software Engineer with a demonstrated history of working in the financial services industry. Skilled in Amazon Web Services application, Terraform infrastructure as code, GitLab CICD automation, Python and Go. Strong engineering professional with a Associates focused in Information Technology from San Antonio College.</p>
    </mat-card-content>
</mat-card>
<br /><br />

<mat-card class="summary-card center-cards">
    <mat-card-header class="card-padding">
        <div mat-card-avatar class="usaa-avatar-img"></div>
        <mat-card-title>USAA Cloud Engineer Senior</mat-card-title>
        <mat-card-subtitle class="text-no-spacing">
            <p>Jun 2017 – Present (3 years 4 months +)</p>
            <p>San Antonio, Texas, United States</p>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-font-size">
        <p>
            As a Cloud Engineer I helped to build and deploy safely and compliant cloud resources. This role included mentoring junior developers and helped adoption of DevOps practices.
        </p>
        <ul>
            <li>Built CICD pipelines with GitLab that performed the deployment of Infrastructure as Code, Terraform, to different Cloud Providers.</li>
            <li>Wrote custom Python and GoLang code to extend the capabilities of Terraform. These capabilities were geared to enforce guardrails on AWS resources built with code.</li>
            <li>Lead the adoption and implementation of Open Policy Agent to introduce policy enforcement in a continuous delivery model.</li>
            <li>Collaborated with teams across the Enterprise to gather requirements for AWS Services to ensure compliance standards are met. Teams included Security, networking teams, storage teams... etc.</li>
        </ul>
    </mat-card-content>
</mat-card>
<br /><br />

<mat-card class="summary-card center-cards">
    <mat-card-header class="card-padding">
        <div mat-card-avatar class="usaa-avatar-img"></div>
        <mat-card-title>USAA Intermediate Software Developer</mat-card-title>
        <mat-card-subtitle class="text-no-spacing">
            <p>Jan 2016 - Jun 2017 (1 year 6 months)</p>
            <p>San Antonio, Texas, United States</p>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-font-size">
        <p>
            As a Software Developer in USAA’s Operations Organization responsibilities ranged from building and maintain JAVA existing application to building new applications from the ground up.
        </p>
        <ul>
            <li>Key member in migration from Jenkins to GitLab CICD and migration to microservices architecture. Helped build, modify and integrate with GitLab pipelines that would perform build, test, and deploys to OpenShift. Building JAVA jars with Gradle and using ReadyAPI for end point testing were some of the Enterprise toolsets we integrated with.</li>
            <li>Maintain JAVA applications that helped automate networking processes. i.e. opening ports and IP space management. Integrations with networking tools such as Infoblox API’s and in-house API’s were a key component to the application.</li>
            <li>Built front-end UI’s using Angular that interfaced with back-end services. Development included updating existing applications to building new applications from scratch.</li>
        </ul>
    </mat-card-content>
</mat-card>
<br /><br />

<mat-card class="summary-card center-cards">
    <mat-card-header class="card-padding">
        <div mat-card-avatar class="usaa-avatar-img"></div>
        <mat-card-title>USAA Junior Software Engineer</mat-card-title>
        <mat-card-subtitle class="text-no-spacing">
            <p>Jun 2014 - Jan 2016 (1 year 8 months)</p>
            <p>San Antonio, Texas, United States</p>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-font-size">
        <p>
            As a Software Developer in USAA’s Availability Organization exposed me to a fast release process.
        </p>
        <ul>
            <li>Key member in the migration to ServiceNow platform. Included setting up the core components for Incident, Problem Management and a little in Change Management. Building forms, client and server scripts, rest API integrations, and UI components.</li>
            <li> Maintaining .Net custom built soware to be used by Service Desk Representatives that consolidated technical information.</li>
            <li>Built new front-end applications in .Net that interfaced with back end databases through API's. Collaboration with various teams to ensure the reliability and resiliency of the back-end data.</li>
        </ul>
    </mat-card-content>
</mat-card>
<br /><br />

<mat-card class="summary-card center-cards">
    <mat-card-header class="card-padding">
        <div mat-card-avatar class="citi-avatar-img"></div>
        <mat-card-title>CITI Information Security Analyst (Application Subject Matter Expert)</mat-card-title>
        <mat-card-subtitle class="text-no-spacing">
            <p>Dec 2010 - Jun 2014 (3 years 7 months)</p>
            <p>San Antonio, Texas, United States</p>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-font-size">
        <ul>
            <li>ID administration management of multiple applications across several platforms and architects. Including vendor based applications and in-house built applications.</li>
            <li>Reviewed applications ID administration functionality and ensured the application met internal policy and regulatory standards in regards to the applications security model.</li>
            <li>Created relationships with senior management and business to communicate application requirements and help remediate applications that did not meet company policy requirements.</li>
            <li>Worked closely with application developers to communicate application requirements and outline UI’s functionality to better facilitate the ID administration functionality and ensure it met company standards.</li>
            <li>Analyzed workflows and developed solutions for various processes. Solutions ranged from SQL servers scripts, Mainframe macros, Visual Basic codes, Access Database, and Excel macros and VB scripts.</li>
        </ul>
    </mat-card-content>
</mat-card>
<br /><br />

<mat-card class="summary-card center-cards">
    <mat-card-header class="card-padding">
        <div mat-card-avatar class="academy-avatar-img"></div>
        <mat-card-title>TheAcademy.com Director of Technology / Web Developer</mat-card-title>
        <mat-card-subtitle class="text-no-spacing">
            <p>Jun 2009 - Dec 2010 (1 year 7 months)</p>
            <p>San Antonio, Texas, United States</p>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-font-size">
        <p>My core responsibilities as a maanger were.</p>
        <ul>
            <li>Project Manager of all development activities in the business.</li>
            <li> I’ve led a small team of developers in day-to-day operations of software development and soware development lifecycles.</li>
            <li>Coached my development team of the necessity of and contribution of coding standards</li>
            <li>Prioritize multiple tasks effectively.</li>
            <li>Schedule management for the development staff to ensure 100% max efficiency.</li>
        </ul>
        <p>My core responsibilities as web develoepr were.</p>
        <ul>
            <li>Developed and maintained websites and web applications for internal and external clients.</li>
            <li>Assisted in physical and logical database design for web sites and web applications.</li>
            <li>Created prototypes and development sites for client engagements.</li>
            <li>Designed, coded, and tested technical solutions for internal and external clients.</li>
            <li>Identified system deficiencies and recommended solution</li>
            <li>Created web applications using Flash CS5 and Action Script 3 for e-learning programs.</li>
        </ul>
    </mat-card-content>
</mat-card>
<br /><br />

<mat-card class="summary-card center-cards">
    <mat-card-header class="card-padding">
        <div mat-card-avatar class="citi-avatar-img"></div>
        <mat-card-title>CITI Workflow Coordinator</mat-card-title>
        <mat-card-subtitle class="text-no-spacing">
            <p>Apr 2001 - Jun 2009 (8 years 3 months)</p>
            <p>San Antonio, Texas, United States</p>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-font-size">
        <p>This position includes monitoring inbound call volume; handle time, and other critical staffing metrics to ensure service levels and efficiency goals are met. Utilizing systems such as Avaya CMS Supervisor and Avaya Intelligent Call Manager (ICM). Identifying corresponding risks and recommend/implement actions to prevent short-term risks. Monitor performance and coordinate offline activities for multiple businesses at several sites. Make real time staffing decisions, i.e. requirements generated by current volume and handle time trends. Analyze trend data. Monitor staffing adherence for multiple businesses and locations. Work with unit managers, operations managers and senior managers on requests and questions on business activities and directions. Provide support in identifying and escalating system related issues. Determine strategy around site closures and call routing based on technology failure. Adjust call routing variables as needed to meet service level and occupancy targets.</p>
    </mat-card-content>
</mat-card>
<br /><br />

<mat-card class="summary-card center-cards">
    <mat-card-header class="card-padding">
        <div mat-card-avatar class="citi-avatar-img"></div>
        <mat-card-title>CITI Senior Sales Representative</mat-card-title>
        <mat-card-subtitle class="text-no-spacing">
            <p>Jan 2003 - Apr 2005 (2 years 4 months)</p>
            <p>San Antonio, Texas, United States</p>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-font-size">
        <p>As a Senior Sales Representative I’ve accomplished the following:</p>
        <ul>
            <li>I managed a team of peers that oversaw Citibank’s oversea Corporate Markets Clients.</li>
            <li>This included services of locating photocopied checks, deposits, withdrawals, and any other financial transactions.</li>
            <li>For the multi-purpose reasons, which included: legal (Subpoenas), verification of deposit, fraud or fraudulent activity, and proof of payments.</li>
            <li>Designed, coded, and tested technical solutions for internal and external clients.</li>
            <li>Identified system deficiencies and recommended solution</li>
            <li>From this position I was promoted to a Customer Service Representative.</li>
        </ul>
    </mat-card-content>
</mat-card>
<br /><br />