
.summary-card {
    max-width: 1020px;
    font-family: sans-serif;
}

.center-cards {
    margin: auto;
    width: 85%;
    padding: 25px;
}

.card-font-size {
    font-size: 15px;
}

.card-padding {
    padding:25px;
}

.text-no-spacing p {
    padding: 0;
    margin: 0;
}
/* Avatar Images */
.me-avatar-header-img {
    background-image: url('../../assets/me_avatar.jpeg');
    background-size: cover;
}

.usaa-avatar-img {
    background-image: url('../../assets/usaa.jpeg');
    background-size: cover;
}

.academy-avatar-img {
    background-image: url('../../assets/academy.com.png');
    background-size: cover;
}


.aws-avatar-img {
    background-image: url('../../assets/aws.jpeg');
    background-size: cover;
}

.citi-avatar-img {
    background-image: url('../../assets/citi.jpeg');
    background-size: cover;
}

.comptia-avatar-img {
    background-image: url('../../assets/comptia.png');
    background-size: cover;
}

.sac-avatar-img {
    background-image: url('../../assets/sac.png');
    background-size: cover;
}

.wgu-avatar-img {
    background-image: url('../../assets/wgu.png');
    background-size: cover;
}